# Dependencies
bower.json
bower_components/
node_modules/
yarn.lock

# Testing
coverage/

# Documents
CONTRIBUTING.md

# Website
_layouts/
assets/
documentation/
examples/
tutorials/

# Lib
lib/

# Settings
tslint.json
tsconfig.json
webpack.config.js

# Misc
**/.*
*.yml
